---
import Section from "../Section.astro";
import { skills } from "../../cv.json";
---

<Section title="Skills">
	<ul>
		{skills.map(({ name }) => <li>{name}</li>)}
	</ul>

	<style>
		ul {
			display: flex;
			gap: 8px;
			flex-wrap: wrap;
		}
		li {
			border-radius: 6px;
			background-color: #eee;
			color: #444;
			font-size: 0.8rem;
			font-weight: 500;
			padding: 0.3rem 0.6rem;
		}
	</style>
</Section>
